%p= f.label :user_id, "user_id"
%p= f.text_field :user_id
%p= f.label :avatar, "avatar"
%p= f.file_field :avatar
%p= f.label :title, "Tytuł"
%p= f.text_field :title
%p= f.label :body, "Treść" 
%p= f.text_area :body



