<h1> <span> <%= @article.title %> </span> </h2>

<div id="comments-count">
<h4> <span> <%= @article.comments.size.to_s() %> </span> KOMENTARZY </h4>
</div>

<img src= <%= @article.avatar.url(:medium) %> class="floatTC" />

<p> <%= @article.body %> </p>

<% if @article.zadanie %>
<h4> <b> Zadanie do wykonania: </b> </h4> </br>
<p> <%= @article.zadanie %> </p>
<% end %>

<% if @article.dowygrania %>
<h4> <b> W konkursie do wygrania: </b> </h4> </br>
<p> <%= @article.dowygrania %> </p>
<% end %>

<% if @article.deadline %>
<h4> <p> Konkurs kończy się: <b> <%= @article.deadline.to_date %> </b> </p> </h4>
<% end %>

<% if @article.site %>
<a href="<%= @article.site.to_s()%>"> Przejdź do strony konkursu </a>
<% end %>
<% if @article.comments.size > 0 %>
<h4> <span> Komentarze: </span> </h4>
<% end %>
<div id="comments">
<ul class="commentlist">
	<div id="commentlist"><%= render @article.comments %></div>
</ul>

<p>
   <% if current_user %>
   <%= link_to 'Skomentuj',
      new_article_comment_path(@article, :format => :js),
      :remote => true, :id => 'new_comment_link' %>
   <% end %>
</p>
</div>

