%p= f.label :username, "Nazwa użytkownika"
%p= f.text_field :username
%p= f.label :email, "E-mail" 
%p= f.text_field :email
%p= f.label :password, "Password"
%p= f.password_field :password, {:value => ''}
%p= f.label :password_confirmation, "Password confirmation"
%p= f.password_field :password_confirmation, {:value => ''}
%p= f.label :avatar, "avatar"
%p= f.file_field :avatar

